
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #cd67ec;
    padding: 8px;
    z-index: 100;
    font-size: 30px;
   
  }
  #content {
    margin-top: 200px;
  }


 